---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - recettes
permalink: /recettes/{{ tag }}/
---

<h1>{% if tag === "entrees" %} Toutes les {{ tag }}{% else %} Tous les {{ tag }}{% endif %}</h1>

<ol>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li 
    class="recettes-link-indiv" 
    style="line-height: 30px;" 
    data-titre="{{ post.data.title }}">
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ol>

{% include 'partials/imgModal.njk' %}