    <div class="recettes-container">
        <a class="titre-partials" href="/recettes/entrees/"><h2>Entrées</h2></a>
          <div class="list-partial-container">
            {% include "partials/entrees.njk" %}
          </div>

        <a class="titre-partials" href="/recettes/plats/"><h2>Plats</h2></a>
          <div class="list-partial-container">
            {% include "partials/plats.njk" %}
          </div>

        <a class="titre-partials" href="/recettes/desserts/"><h2>Desserts</h2></a>
          <div class="list-partial-container">
            {% include "partials/desserts.njk" %}
          </div>
    </div>